.card-header, .card-footer{
    background: #f8f8f8;
    /* margin-bottom: 25px; */

}

.textfield > select{
  width: 100%;
  border: 1px solid #c4c4c4;
  border-radius: 12px;
  padding: 9px;
  background: #F8F8F8;
  box-shadow: 0px 5px 10px #ececec;
}

span {
  font-size: 10pt;
  color: var(--color-primary);
}
.progressbar {
    width: 100%;
    height: 20px;
    background-color: white;
    margin-bottom: 50px;
    padding: 0;
    margin-bottom: 0;
  }
  
  .progressbar div {
    width: 33.3%;
    height: 100%;
    background-color: var(--color-primary);
    padding: 0;
  }

  .um{
    background-color: none;
    color: rgb(0, 0, 0);
    font-weight: 800;
    display: inline;
  }

  .dois {
    color: rgb(0, 0, 0);
    font-weight: 800;
    display: inline;
    background-color: none;

  }

  .tres {
    background-color: none;
    color: rgb(0, 0, 0);
    font-weight: 800;
    display: inline;

  }

button {
    width: 40%;
    height: 41.31px;
    border-radius: 12px;
    margin: 10px;
    border: 0px;
    background: var(--color-primary);
    color: #ffff;
}

button:disabled{
    background: #c4c4c4;
}